In [1]:
import numpy as np
import pandas as pd

In [15]:
data = pd.read_csv('C:\\Users\\Gokuul\\Desktop\\ML\\datasets\\aero.csv', header = None, names = ['p1', 'p2', 'p3', 'p4', 'p5','y'])

In [16]:
data

        p1    p2      p3    p4        p5        y
0      800   0.0  0.3048  71.3  0.002663  126.201
1     1000   0.0  0.3048  71.3  0.002663  125.201
2     1250   0.0  0.3048  71.3  0.002663  125.951
3     1600   0.0  0.3048  71.3  0.002663  127.591
4     2000   0.0  0.3048  71.3  0.002663  127.461
...    ...   ...     ...   ...       ...      ...
1498  2500  15.6  0.1016  39.6  0.052849  110.264
1499  3150  15.6  0.1016  39.6  0.052849  109.254
1500  4000  15.6  0.1016  39.6  0.052849  106.604
1501  5000  15.6  0.1016  39.6  0.052849  106.224
1502  6300  15.6  0.1016  39.6  0.052849  104.204

[1503 rows x 6 columns]

In [18]:
X = data.iloc[:,0:-1].values
y = data.iloc[:,-1].values

In [19]:
X.shape

(1503, 5)

In [20]:
y.shape

(1503,)